{% extends 'base.html' %}
{% block head %}
  <title>Contact</title>
{% endblock %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Contact Me</h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="text-center">
              <p>Brief information snippet about me</p>
          </div>
      </div>
  </div>
  {% endblock %}
  {% block body1 %}
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 text-center">
      <h2 style="border-bottom:2px solid;">Email Me!</h2><br>
      <form action="" method="post" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.name.label(class_='control-label col-sm-2') }}
          <div class="col-sm-10">
            {{ form.name(class_='form-control') }}
          </div>
        </div>
        <div class="form-group">
          {{ form.email.label(class_='control-label col-sm-2') }}
          <div class="col-sm-10">
            {{ form.email(class_='form-control') }}
          </div>
        </div>
        <div class="form-group">
          {{ form.message.label(class_='control-label col-sm-2') }}
          <div class="col-sm-10">
            {{ form.message(class_='form-control') }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2 text-left">
            {{ form.submit(class_='btn btn-primary') }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
