{% extends 'base.html' %}
{% block head %}
  <title>Home</title>
{% endblock %}

{% block body %}
  <div class="container">
      <div class="row">
          <div class="header text-center">
          </div>
      </div>
  </div>
  <div class="jumbotron text-center">
    <h1>Orofacial Myology of OKC</h1>
    <p><em>Promoting healthy habits and providing relief for a variety of oral and facial issues.</em></p>
  </div>
  {% endblock %}
  {% block body1 %}
  <div class="container">
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 text-center infoBox">
      <h2>What is Orofacial Myology?</h2><p><q>The study and treatment of oral and facial muscles as they relate to speech, dentition, chewing/bolus collection, swallowing and overall mental and physical health.</q></p><em>- Sandra Holtzman</em>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 text-center infoBox">
      <h2>What We Do:</h2><p><q>OMOKC uses exercises to change muscle patterns and rest postures of the tongue and lips.  Therapy usually takes 3-5 minutes per day for about 8-10 weeks.</q></p>
    </div>
  </div>
{% endblock %}
