{% extends 'base.html' %}
{% block head %}
  <title>Home</title>
{% endblock %}

{% block body %}
  <div class="container">
      <div class="row">
          <div class="header text-center">
          </div>
      </div>
  </div>
  <div class="jumbotron text-center">
    <h1>Orofacial Myology of OKC</h1>
    <p><em><strong>orofacial</strong></em></p>
  </div>
  {% endblock %}
  {% block body1 %}
  <div class="container">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <h2>Something interesting...</h2>
    </div>
  </div>
{% endblock %}
