{% extends 'base.html' %}
{% block head %}
  <title>Info</title>
{% endblock %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Information</h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-4 col-md-offset-1 infoBlock text-center">
              <h2>Mouth Breathing:</h2>
              <p>Description of item...</p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-2 infoBlock text-center">
              <h2>Open Bite:</h2>
              <p>Description of item...</p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-1 infoBlock text-center">
              <h2>Tongue Thrust:</h2>
              <p>Description of item...</p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-2 infoBlock text-center">
              <h2>Thumb Sucking:</h2>
              <p>Description of item...</p>
          </div>
      </div>
  </div>
  {% endblock %}
  {% block body1 %}
  <div class="container">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <h2>Something interesting...</h2>
    </div>
  </div>
{% endblock %}
