body {
  /*background-color: #fff;*/
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(245,245,245,1));
  background: -o-linear-gradient(left, rgba(255,0,0,0), rgba(235,245,245,1));
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(235,235,235,1));
  background-position: cover;
}
.navbar-default {
  border: 0px;
  background: rgba(255,255,255,0);
}
.navbar-brand {
  font-size: 175%;
  font-weight: 700;
}
.navbar-header > a:hover {
  color: #009900;
  /*color: rgba(200,0,0,.7);*/
}
#navbar ul li a {
  font-size: 130%;
}
#navbar ul li:hover a {
  color: #009900;
  /*color: rgba(200,0,0,.7);*/
}
.icon-bar {
    
}
#headerSpace {
  height: 40px;
  background-color: rgba(255,255,255,0);
}
#footerSpace {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0,0,0,0);
}
.jumbotron {
  background: rgba(0,0,0,.1); /* For browsers that do not support gradients */
  border-top: 2px solid #009900;
  border-bottom: 1px solid #009900;
}

.flash {
  background-color: #fbb0b0;
  padding: 5px;
  border-radius: 2px;
  margin-top: 1px;
}
